<h1>Cadastrar Peso</h1>

<form [formGroup]="formCadastro" (ngSubmit)="cadastrarPeso()">

    <mat-form-field>
      <mat-label>Selecione o número do brinco do Suíno:</mat-label>
      <mat-select formControlName="brinco" required>
        <mat-option *ngFor="let suino of suinos" [value]="suino.brincoAnimal">{{ suino.brincoAnimal }}</mat-option>
      </mat-select><br>
      <mat-error *ngIf="formCadastro.get('brinco')?.invalid">Selecione o número do brinco do Suíno</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Data da Pesagem</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          formControlName="data"
          placeholder="Data da Pesagem"
        />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="formCadastro.get('data')?.invalid">Data da Pesagem é obrigatória</mat-error>
        <mat-error *ngIf="formCadastro.get('data')?.hasError('dataInvalida')">Data invalida</mat-error>

    </mat-form-field> 

    <mat-form-field>
        <mat-label>Peso (Kg)</mat-label>
        <input matInput formControlName="peso">
        <mat-error *ngIf="formCadastro.get('peso')?.invalid">Peso é obrigatório</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Cadastrar Peso</button>
    
  </form>