h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.appointment-list {
    margin: 20px auto;
    width: 80%;
}

.appointment-list section {
    position: relative;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.appointment-list section h2 {
    margin-top: 0;
}

.appointment-list section span {
    display: block;
    margin-bottom: 5px;
}

.filtro {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container-flex {
    display: flex;
    align-items: flex-start;
}