<h1>Suínos</h1>

<div class="filtro">
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <select matNativeControl required [(ngModel)]="valorFiltro">
      <option value="brincoPai">Brinco do pai</option>
      <option value="brincoMae">Brinco da mãe</option>
      <option value="dataNascimento">Data de nascimento</option>
      <option value="dataSaida">Data de saída</option>
      <option value="sexo">Sexo</option>
      <option value="status">Status</option>
    </select>
  </mat-form-field>

  <mat-form-field *ngIf="valorFiltro == 'sexo'">
    <mat-label>Sexo</mat-label>
    <select matNativeControl required [(ngModel)]="valorPesquisa">
      <option value="M">Masculino</option>
      <option value="F">Feminino</option>
    </select>
  </mat-form-field>

  <mat-form-field *ngIf="valorFiltro == 'status'">
    <mat-label>Status</mat-label>
    <select matNativeControl required [(ngModel)]="valorPesquisa">
      <option value="Ativo">Ativo</option>
      <option value="Vendido">Vendido</option>
      <option value="Morto">Morto</option>
    </select>
  </mat-form-field>

  <mat-form-field *ngIf="valorFiltro.slice(0,4) == 'brin' || !valorFiltro" >
    <mat-label>Brinco</mat-label>
    <input type="number" matInput placeholder="Valor" [(ngModel)]="valorPesquisa">
  </mat-form-field>

  <mat-form-field *ngIf="valorFiltro.slice(0,4) == 'data'">
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="valorPesquisa">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-fab color="primary" aria-label="Pesquisar" (click)="filtrarListagem(valorFiltro)">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div class="appointment-list">
    <section *ngFor="let suino of listaFiltrada; let i = index">
        <h2> {{ suino.brincoAnimal}} </h2>
        <span> Data de Nascimento: {{ suino.dataNascimento }} </span>
        <br>
        <span> Status: {{ suino.status }} </span>
        <br>
        <span> Sexo: {{ suino.sexo }}</span>

        <div *ngIf="animalExpandidoIndex === i">
            <br>
            <span> Brinco da Mãe: {{ suino.brincoMae }} </span>
            <br>
            <span> Brinco do pai: {{ suino.brincoPai }} </span>
            <br>
            <span> Data de saída: {{ suino.dataSaida }} </span>
        </div>

        <button (click)="expandirAnimal(i)">
            {{ animalExpandidoIndex === i ? 'Recolher Detalhes' : 'Expandir Detalhes' }}
        </button>

        <button (click)="exibirGrafico(suino)" [ngStyle]="{'background-color': 'green'}">
          {{ suinoParaGrafico && suinoParaGrafico.id === suino.id ? 'Esconder Gráfico' : 'Exibir Gráfico' }}
        </button>
        
        <div class="btnGroup">
          <!-- <select *ngIf="suino.status === 'Ativo'" matNativeControl >
            <option value="">Alterar Status</option>
            <option value="Vendido">Vendido</option>
            <option value="Morto">Morto</option>
          </select> -->
  
          <div id="deletar" (click)="abreDialogoDelete(suino.id)">
            <mat-icon>delete_forever</mat-icon>
          </div>
        </div>

        <div *ngIf="suinoParaGrafico && suinoParaGrafico.id === suino.id">
          <app-grafico-peso [selectedSuino]="suino"></app-grafico-peso>
        </div>
    </section>
</div>
