h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.sessao {
    margin-top: 1rem;
    margin-left: 5rem;
}

.suinos-container {
    height: 350px;
    overflow-y: auto;
    border: 1px solid #eaeaea;
    border-radius: 10px;
}
