h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.suino-form mat-form-field {
    display: block;
    width: 30%; /* Adjust this to change the width of the form */
    margin: 0 auto; /* This will center the form */
    padding: 15px; /* This adds some space inside the border */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: larger;
}

button:hover {
    background-color: #0056b3;
}