<div id="header">
    <nav>
      <div class="navbar-left">
        <button mat-raised-button color="primary" (click)="fechar()">Home</button>
      </div>
      <div class="navbar-right">
        <button mat-raised-button color="primary" (click)="paraFormCadastro()">
            Cadastro de suíno
        </button>
    
        <button mat-raised-button color="primary" (click)="paraListaSuinos()">
            Listagem de suínos
        </button>
    
        <button mat-raised-button color="primary" (click)="paraCadastroPeso()">
            Cadastro de peso
        </button>
    
        <button mat-raised-button color="primary" (click)="paraEdicaoPeso()">
            Edição de peso
        </button>

        <button mat-raised-button color="primary" (click)="paraGraficoPeso()">
            Controle de peso
        </button>

      </div>
    </nav>
</div>

<br><br> 

<router-outlet></router-outlet>
