<div id="main-header">

    <button mat-raised-button color="primary" (click)="paraFormCadastro()">
        Cadastro de suíno
    </button>

    <button mat-raised-button color="primary" (click)="paraListaSuinos()">
        Listagem de suínos
    </button>

    <button mat-raised-button color="primary" (click)="paraGraficoPeso()">
        Controle de peso
    </button>

    <button mat-raised-button color="primary" (click)="paraCadastroPeso()">
        Cadastro de peso
    </button>

    <button mat-raised-button color="primary" (click)="paraEdicaoPeso()">
        Edição de peso
    </button>

    <button mat-raised-button color="primary" (click)="fechar()">
        Fechar
    </button>

</div>

<br><br> 

<router-outlet></router-outlet>
