#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
}

.navbar-left {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar-left div {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-left div:hover {
    background-color: #ddd;
}

.navbar-left div span {
    font-size: larger;
    color: #fff;
    margin-left: 5px;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-right div {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-right div:hover {
    background-color: #ddd;
}

.navbar-right div span {
    font-size: large;
    color: #fff;
}

.navbar-right div:hover span {
    color: #333;
}


button {
    width: 20%;
    margin-right: 20px;
}

#login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#login:hover {
    color: black;
    background-color: #fff;
    cursor: pointer;
}

#home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

#home:hover {
    color: black;
    background-color: #fff;
    cursor: pointer;
}

#navLogin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}