<div id="header">
    <nav *ngIf="!isLoggedIn()" id="navLogin">
      <div >
        <div id="login" (click)="paraLogin()">
          <mat-icon>person</mat-icon>
          <span >Login</span>
        </div>
      </div>
    </nav>

    <nav *ngIf="isLoggedIn()">
      <div class="navbar-left">
        <div id="home" (click)="paraHome()">
          <mat-icon>home</mat-icon>
          <span >Home</span>
        </div>
      </div>

      <div class="navbar-right">

        <!-- Dropdown 1: Suínos -->
        <div class="dropdown" data-bs-theme="light" >
          <div class="dropdown-toggle" data-bs-toggle="dropdown">
            Suínos
          </div>
          <ul class="dropdown-menu">
            <li (click)="paraCadastroSuino()"><span>Cadastrar Suíno</span></li>
            <li (click)="paraListaSuinos()"><span>Listar Suínos</span></li>
          </ul>
        </div>
      
        <!-- Dropdown 2: Peso -->
        <div class="dropdown">
          <div class="dropdown-toggle" data-bs-toggle="dropdown">
            Peso
          </div>
          <ul class="dropdown-menu">
            <li (click)="paraCadastroPeso()"><span>Cadastrar Peso</span></li>
            <li (click)="paraEdicaoPeso()"><span>Editar Peso</span></li>
          </ul>
        </div>
      
        <!-- Dropdown 3: Atividade/Sessão -->
        <div class="dropdown">
          <div class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Atividade/Sessão
          </div>

          <ul class="dropdown-menu">
            <li (click)="paraCadastroAtividade()"><span>Cadastrar Atividade</span></li>
            <li (click)="paraCadastroSessao()"><span>Cadastrar Sessão</span></li>
            <li (click)="paraListaSessoes()"><span>Listar Sessões</span></li>
          </ul>
        </div>
        
      </div>
    </nav>
</div>

<br>

<router-outlet></router-outlet>
