#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: #f5f5f5;
}

#login{
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
}

label{
    display: block;
    margin-bottom: 10px;
}

input{
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.primary{
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.primary:hover{
    background-color: #0056b3;
    border: 1px solid #0056b3;
}

.secondary{
    background-color: #6c757d;
    color: #fff;
    border: 1px solid #6c757d;
}

.secondary:hover{
    background-color: #5a6268;
    border: 1px solid #5a6268;
}

.alert {
  position: relative;
  padding: 15px 40px 15px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    color: inherit;
    cursor: pointer;
    height: 5px;
    width: 5px;
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
  }

@media (max-width: 800px) {
    #main {
        height: 100vh;
    }

    #login {
        width: 80%;
        height: 80%;
    }
}